---
layout: portfolio
title: Curriculum Vitae
---

<h4>EDUCATION</h4>
{% include portfolio/education.html %}

<h4 class="mt-4">SKILLS</h4>
{% include portfolio/skills.html %}

<h4 class="mt-4">WORK</h4>
{% include portfolio/section.html units=site.data.portfolio.work %}

<h4 class="mt-4">RESEARCH</h4>
{% include portfolio/section.html units=site.data.portfolio.research %}

<h4 class="mt-4">TEACHINGS</h4>
{% include portfolio/section.html units=site.data.portfolio.teachings %}

<h4 class="mt-4">PROJECTS</h4>
{% include portfolio/section.html units=site.data.portfolio.projects %}
