---
layout: portfolio
title: Curriculum Vitae
---

<h4>Education</h4>
{% include portfolio/education.html %}

<h4 class="mt-4">Skills</h4>
{% include portfolio/skills.html %}

<h4 class="mt-4">Research</h4>
{% include portfolio/section.html units=site.data.portfolio.research %}

<h4 class="mt-4">Teachings</h4>
{% include portfolio/section.html units=site.data.portfolio.teachings %}

<h4 class="mt-4">Internships</h4>
{% include portfolio/section.html units=site.data.portfolio.internships %}

<h4 class="mt-3">Projects</h4>
{% include portfolio/section.html units=site.data.portfolio.projects %}